<h1 id='logo'>Rock-a-Party</h1>
<form id="login"><%= render '/sessions/session_form' %></form>
<br>
<div id="datepicker" data-provide='datepicker'>Select day to view events:</div>
<br>
<div id="add_venue">
  <% if current_user %>
    <%= link_to "Add Venue", new_venue_path %>
  <% end %>
</div>
<div id="listings">
  <% if @venues.length > 0 %>
    <h2>Venues</h2>
    <% @venues.each do |venue| %>
      <h3><%= link_to venue.name, venue_path(venue) %></h3>
    <% end %>
  <% end %>
  <% if Event.all.length > 0 %>
    <h2>Events</h2>
    <% Event.all.each do |event| %>
      <h3><%= link_to event.title, venue_event_path(event.venue_id, event) %></h3>
    <% end %>
  <% end %>
  <br>
</div>
<script>
$(function() {
  $('#datepicker').datepicker().on('changeDate', function(){

  });
});
</script>